@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");
header {
  margin: 0;
  padding: 0 0px;
  background-color: rgba(28, 34, 36, 0.8);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 10px -15px #1111112b;
  position: sticky;
  z-index: 1024;
  top: 0; }

.nav-brand a, .nav-brand button,
.cart-container a,
.cart-container button {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  text-decoration: none;
  color: white;
  font-size: 28px; }
  .nav-brand a svg, .nav-brand button svg,
  .cart-container a svg,
  .cart-container button svg {
    margin-left: 8px;
    font-size: 30px; }

.nav-brand:hover,
.cart-container:hover {
  background-color: rgba(28, 34, 36, 0.5); }

.cart-container {
  display: flex; }
  .cart-container a, .cart-container button {
    margin: auto;
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-size: 16px; }
    .cart-container a span:first-child, .cart-container button span:first-child {
      padding-right: 8px; }
      .cart-container a span:first-child[data-items]::after, .cart-container button span:first-child[data-items]::after {
        position: relative;
        content: attr(data-items);
        font-size: 12px;
        background-color: red;
        padding: 2px 4px;
        border-radius: 50%;
        top: -8px;
        right: -4px; }

.searchBox-container {
  align-self: center;
  flex-grow: 1; }
  .searchBox-container form {
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 80px;
    justify-content: center; }
    .searchBox-container form input {
      flex-grow: 1;
      padding: 8px 56px 8px 16px;
      border: transparent;
      border-radius: 2px;
      width: 100%;
      font-size: 15px;
      color: rgba(128, 128, 128, 0.897);
      outline: rgba(28, 34, 36, 0.5);
      max-width: 500px; }
    .searchBox-container form button[type="submit"] {
      background-color: #e96125;
      position: relative;
      right: 36px;
      padding-right: 8px !important;
      padding-left: 8px !important;
      border: unset;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      cursor: pointer; }
  .searchBox-container form + svg {
    display: none; }

@media screen and (max-width: 768px) {
  .nav-brand a, .nav-brand button,
  .cart-container a,
  .cart-container button {
    font-size: 22px;
    padding: 14px 16px; }
  .cart-container a, .cart-container button {
    font-size: 16px; }
  .searchBox-container form {
    margin: 0 0px; } }

@media screen and (max-width: 450px) {
  .cart-container a span:first-child,
  .cart-container button span:first-child {
    display: none; }
  .searchBox-container form {
    display: none; }
  .searchBox-container form + svg {
    margin-left: auto;
    display: block; } }

* {
  box-sizing: border-box; }

html {
  font-family: 'Doppio One', sans-serif; }

body {
  line-height: 1.5;
  margin: 0;
  position: relative; }

.img-fluid {
  max-width: 100%;
  height: auto; }
